<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="../../styles/home.css">
  <link href="./output.css" rel="stylesheet">
  
</head>

<body>
  <header>
    
      <div class="logocfo">
        <img src="../../assets/logosemfundo.png" alt="Logo EEMTI Capelão Frei Orlando" class="logocfoimg">
        <div class="nomecfo">Escola de Ensino <br>Médio em Tempo Integral<br> Capelão Frei Orlando</div>
      
    </div>
    <div class="titulo"> Página Inicial</div>
  </header>
  <main>
    <aside>
      <nav>
        <a href="">Página Inicial</a>
        <a href="">Eletivas</a><a href="">Alunos</a><a href="">Turmas</a><a href="">Professores</a><a href=""></a>
      </nav>
    </aside>
    <section>
      <h2 class="tituloSection"> Gestores</h2>
      <table class="tabela">
        <thead>
          <tr>
            <th>
              Id
            </th>
            <th>Nome</th>
            <th>Login</th>
            <th>Criado</th>
            <th>Atualizado</th>
            <th>Status</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tr>
          <td>0</td>
          <td>Hyandra</td>
          <td>Hyandra@email.com</td>
          <td>22/08/2023</td>
          <td>08/09/2024</td>
          <td>Ativo</td>
          <td>
            <div class="acoes">
              <button class="btnEditar">Editar</button>
              <button class="btnExcluir">Excluir</button>
            </div>
          </td>
        </tr>

      </table>
    </section>

  </main>
  <footer>Desenvolvido pela equipe DS</footer>
</body>

</html>